.projects-section {
  background-color: #8f678570;
  width: 90%;
  max-width: 1200px;
  margin: 2% auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
}

.app-name {
  font-size: 4rem;
  font-weight: 700;
  color: #222;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  font-family: 'Space Grotesk', sans-serif;
  margin-bottom: 0.5rem;
}

.project-logo {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 50%;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.project-logo:hover {
  transform: scale(1.05);
}

.project-description {
  font-size: 1rem;
  color: #000;
  margin: 0 auto;
  max-width: 300px;
}

.feature-circle-img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  border: 4px solid #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s;
}

.feature-circle-img:hover {
  transform: scale(1.05);
}

/* Efecto desordenado en escritorio */
.feature-img.feature-1 {
  margin-top: 100px;
}

/* Responsive */
@media (max-width: 991px) {
  .project-logo {
    width: 150px;
    height: 150px;
  }

  .feature-circle-img {
    width: 130px;
    height: 130px;
  }

  .feature-img.feature-1 {
    margin-top: 0;
  }

  .app-name {
    font-size: 2rem;
  }

  .project-description {
    font-size: 0.95rem;
    text-align: center;
  }

  .project-block {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .projects-section {
    padding: 0 auto;
  }

  .app-name {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .project-logo {
    width: 120px;
    height: 120px;
  }

  .feature-circle-img {
    width: 100px;
    height: 100px;
    margin: 5px auto;
  }

  .project-description {
    font-size: 0.9rem;
  }

  .feature-img {
    margin-top: 0 !important;
  }
}

