.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.hero-t{
  position: relative;
  top: -150px;
}

.hero-name {
  font-size: 9rem;
  text-align: center;
  font-family: 'Space Grotesk', sans-serif; /* Cambiá si elegís otra fuente */
  font-weight: 700;
  color: white;
}

.hero-text{
  font-size: 2rem;
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  color: white;
  margin-top: 1rem;
}

.hero-photo {
  position: relative;
  top:70px;
  width: 750px;
  height: 750px;
  border-radius: 10%;
  object-fit: cover;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
  margin: 1rem auto 0 auto;
}



/* Responsive */
@media (max-width: 992px) {
  .hero-section {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .hero-content {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 5rem 0rem;
  }

  .hero-t {
    position: relative;
    top: 0; /* Eliminamos el desplazamiento fijo */
  }

  .hero-name {
    font-size: 5rem;
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 800;
    color: white;
  }

  .hero-text {
    font-size: 3rem;
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    color: white;
    margin-top: 1rem;
  }

  .hero-photo {
    position: relative;
    top: 0;
    width: 450px;
    height: 450px;
    border-radius: 10%;
    object-fit: cover;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
    margin: 0;
  }
}

@media (max-width: 576px) {
  .hero-section {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  .hero-content {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 0rem;
  }

  .hero-t {
    position: relative;
    top: 0; /* Eliminamos el desplazamiento fijo */
  }

  .hero-name {
    font-size: 3rem;
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    color: white;
  }

  .hero-text {
    font-size: 2rem;
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    color: white;
    margin-top: 1rem;
  }

  .hero-photo {
    position: relative;
    top: 10px;
    width: 365px;
    height: 365px;
    border-radius: 10%;
    object-fit: cover;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
    margin: 0;
  }
}


/* Animaciones */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeInUp 1s ease-out forwards;
  opacity: 0;
}
