.contact-section {
   background-color: #8f678570;
  max-height: 500px;
  width: 80%;
  margin: 2% auto;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: visible; /* ← Importante para permitir que la foto sobresalga */
  border-radius: 30px;
  z-index: 2; /* esta sección va por encima de cualquier cosa anterior */
  padding: 4rem 0;
}


.contact-logo {
  width: 180px;
  height: 180px;
  object-fit: contain;
  border-radius: 50%;
}

.contact-title {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.5rem;
}

.contact-info {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 0.8rem;
}

.contact-info a {
  text-decoration: none;
  color: #0077b5; /* color LinkedIn */
  font-weight: 500;
}

.contact-info a:hover {
  text-decoration: underline;
}
